.style-switcher {
    position: fixed;
    right: 0;
    top: 60px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3 ease;
    transform: translateX(100%);
}

.style-switcher.open {
    transform: translateX(-25px);
}

.style-switcher .s-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    top: 8px;
    cursor: pointer;
    transition: all 0.3 ease;
    border-radius: 50%;
}

.style-switcher .s-icon i {
    line-height: 40px;
}

.style-switcher .style-switcher-toggler {
    top: 0;
}

.style-switcher .style-switcher-toggler .settings{
    margin-top: -1px;
}

.style-switcher .day-night {
    top: 55px;
    height: 85px;
    border-radius: 20px;
}
.style-switcher .night {
    top: 30px;
    margin-left: 4px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.style-switcher .day{
    top: 30px;
    margin-top: 12px;
    margin-left: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.day-mode, .night-mode {
    margin-top: -5px;
}

.style-switcher .day:hover {
    background-color: rgb(54, 54, 54);
    color: white;
}

.style-switcher .night:hover {
    background-color: rgb(54, 54, 54);
    color: white;
}

.style-switcher h4 {
    margin: 0 0 10px;
    color: var(--text-black-900);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.style-switcher .colours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-switcher .colours span {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 0.5px solid black;
}

/* Colours */

.style-switcher .colour-1 {
    background-color: #ec1839;
}

.style-switcher .colour-2 {
    background-color: #5118ec;
}

.style-switcher .colour-3 {
    background-color: #009c0a;
}

.style-switcher .colour-4 {
    background-color: #ffffff;
}

.style-switcher .colour-5 {
    background-color: #000000;
}